<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>WebApiServlet</servlet-name>
        <servlet-class>com.ehome.webapp.servlet.WebApiServlet</servlet-class>
        <init-param>
            <param-name>permission</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>excludePermissionApi</param-name>
            <!-- 排除权限校验的Api -->
            <param-value>com.xiaolei.webapp.webapi.LoginApi</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebApiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- context-param和listener配合使用来初始化所有Api 开始 -->
    <context-param>
        <description>webapi class path</description>
        <param-name>apipath</param-name>
        <param-value>com.xiaolei.webapp.webapi</param-value>
        <!-- 指定api所的package,多个用逗号(,)隔开 -->
    </context-param>
    <listener>
        <display-name>初始化API到Application</display-name>
        <listener-class>com.ehome.webapp.listener.InitApiListener</listener-class>
    </listener>
    <!-- context-param和listener配合使用来初始化所有Api 结束 -->

    <!-- 容器关闭时候监听 开始 -->
    <listener>
        <listener-class>com.ehome.webapp.listener.ShutdownListener</listener-class>
    </listener>
    <!-- 容器关闭时候监听 结束 -->

    <!-- 字符编码Filter 开始 -->
    <filter>
        <description>字符编码过滤器</description>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.ehome.webapp.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <description>要转成的字符编码</description>
            <param-name>encoding</param-name>
            <param-value>GB2312</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 字符编码Filter 结束 -->

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>
